<div class="card" style="width: 20rem;">
  <img class="card-img-top" style="width: 20rem;height: 20rem;" src="{{monster.image}}" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">{{monster.name}}</h4>
    <p class="card-text">{{monster.description}}</p>
    <a href="#" class="btn btn-danger">Scary!!!</a>
    <a href="#" class="btn btn-danger">Not Scary!!!</a>
  </div>
</div>
